<!DOCTYPE html>
<html>

<body style="background-color: #D8D8D8; color: #444;">
    <div style="display: grid; place-items: center;">
        <h1>EXCEL FILE UPLOAD</h1>
        <form action="/" method="POST" enctype='multipart/form-data'>
            <input type="file" name="file">
            <button>submit</button>
        </form>
    </div>
</body>

</html>